<?xml version="1.0" encoding="utf-8"?>
<!--
此文件由 Web 项目的发布/打包过程使用。可以通过编辑此 MSBuild 文件
自定义此过程的行为。为了解与此相关的更多内容，请访问 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/31f6dccc-fb3a-4902-935e-bfbe283f939c/resourcegroups/asgform-app-20230727003745ResourceGroup/providers/Microsoft.Web/sites/asgform20230727093515</ResourceId>
    <ResourceGroup>asgform-app-20230727003745ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/31f6dccc-fb3a-4902-935e-bfbe283f939c/resourceGroups/asgform-app-20230727003745ResourceGroup/providers/Microsoft.ApiManagement/service/asgformapi/apis/asgform</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://asgform20230727093515.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>6bbccc2c-1b0a-4456-b9e5-b0ef2b156d8b</ProjectGuid>
    <MSDeployServiceURL>asgform20230727093515.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>asgform20230727093515</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$asgform20230727093515</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>