<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/31f6dccc-fb3a-4902-935e-bfbe283f939c/resourcegroups/asg/providers/Microsoft.ContainerRegistry/registries/asgform20230727004118</ContainerResourceId>
    <ContainerResourceName>asgform20230727004118</ContainerResourceName>
    <Subscription>Azure for Students</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>asgform20230727004118.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>asgform</ContainerName>
    <EnvironmentName>asgform-env-20230727003747</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://asgform.nicesky-73d4b60d.australiaeast.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/31f6dccc-fb3a-4902-935e-bfbe283f939c/resourceGroups/asgform-app-20230727003745ResourceGroup/providers/Microsoft.App/containerApps/asgform</ResourceId>
    <ResourceGroup>asgform-app-20230727003745ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>